* {
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
}

a {
  text-decoration: none;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.sign-up .right {
  flex-basis: 49%;
}

.sign-up .right {
  flex-basis: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
}

.information h2 {
  text-align: center;
}

.information .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.information .box {
  border: 5px solid #3882F6;
  flex-basis: 160px;
  text-align: center;
}

.quotation {
  width: 50%;
  align-self: center;
}

blockquote {
    margin: 0;
}

blockquote + p {
  margin: 0;
  text-align: right;
}
