* {
  border: 1px solid red;
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sign-up,
.information,
.quotation,
.call-to-action,
.footer {
  padding: 120px 15%;
}

.header {
  padding: 0 15%;
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.sign-up {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-content: stretch;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sign-up h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.sign-up .subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up .right {
  flex-basis: 49%;
}

.sign-up .right {
  flex-basis: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  padding-top: 0px;
  padding-bottom: 120px;
}

.information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 40px 0;
}

.information .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.information .box {
  border: 5px solid #3882F6;
  flex-basis: 160px;
  text-align: center;
}

.quotation {
  align-self: center;
  background-color: #E5E7EB;
  padding-top: 120px;
  padding-bottom: 120px;
}

blockquote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

blockquote + p {
  margin: 0;
  text-align: right;
}

.call-to-action {
  display: flex;
  justify-content: center;
  color: #F9FAF8;
}

.call-to-action .box {
  display: flex;
  align-items: center;
}

.left h3 {
  margin: 0;
}

.footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #F9FAF8;
  padding-top: 40px;
  padding-bottom: 40px;
}
